<div class="wrapper center">
    <div class="background">
        <div class="top" style="opacity: 1;">
            <span data-splitting="" class="WhatTop words chars splitting" style="--word-total:3; --char-total:12;">
                <span class="word" data-word="LOVE" style="--word-index:0;">
                    <span class="char" data-char="L" style="--char-index:0;">L</span>
                    <span class="char" data-char="O" style="--char-index:1;">O</span>
                    <span class="char" data-char="V" style="--char-index:2;">V</span>
                    <span class="char" data-char="E" style="--char-index:3;">E</span>
                </span>
                <span>
                    <span class="WhatBottom">
                        <span class="word" data-word="LOVE" style="--word-index:1;">
                            <span class="char" data-char="L" style="--char-index:4;">L</span>
                            <span class="char" data-char="O" style="--char-index:5;">O</span>
                            <span class="char" data-char="V" style="--char-index:6;">V</span>
                            <span class="char" data-char="E" style="--char-index:7;">E</span>
                        </span>
                        <span>
                            <span class="WhatBottomBlack">
                                <span class="word" data-word="LOVE" style="--word-index:2;">
                                    <span class="char" data-char="L" style="--char-index:8;">L</span>
                                    <span class="char" data-char="O" style="--char-index:9;">O</span>
                                    <span class="char" data-char="V" style="--char-index:10;">V</span>
                                    <span class="char" data-char="E" style="--char-index:11;">E</span>
                                </span>
                                <span>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </div>

        <div class="bottom" style="opacity: 1;">
            <span data-splitting="" class="EverTop words chars splitting" style="--word-total:3; --char-total:12;">
                <span class="word" data-word="YOU" style="--word-index:0;">
                    <span class="char" data-char="Y" style="--char-index:0;">Y</span>
                    <span class="char" data-char="O" style="--char-index:1;">O</span>
                    <span class="char" data-char="U" style="--char-index:2;">U</span>
                    <span class="char" data-char="" style="--char-index:3;"></span>
                </span>
                <span>
                    <span class="EverBottom">
                        <span class="word" data-word="YOU" style="--word-index:1;">
                            <span class="char" data-char="Y" style="--char-index:4;">Y</span>
                            <span class="char" data-char="O" style="--char-index:5;">O</span>
                            <span class="char" data-char="U" style="--char-index:6;">U</span>
                            <span class="char" data-char="" style="--char-index:7;"></span>
                        </span>
                        <span>
                            <span class="EverBottomTwo">
                                <span class="word" data-word="YOU" style="--word-index:2;">
                                    <span class="char" data-char="Y" style="--char-index:8;">Y</span>
                                    <span class="char" data-char="O" style="--char-index:9;">O</span>
                                    <span class="char" data-char="U" style="--char-index:10;">U</span>
                                    <span class="char" data-char="" style="--char-index:11;"></span>
                                </span>
                                <span>
                                    <span class="BottomBk">
                                        <span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>

    <div class="bar" style="margin-top: -2px; opacity: 1;">
        <a href="" class="typewrite" data-period="2000" data-type="[ &quot;So lost without you ...&quot; ]"
            style="display: inline;">
            <span class="wrap">So lost without you ...</span>
        </a>
    </div>
</div>