<div class="envelope center">
    <input class="envelope__check" type="checkbox">
    <div class="envelope__flap envelope__flap--inside"></div>
    <div class="envelope__flap"></div>
    <div class="envelope__letter">
        <div class="letter">
            <div class="letter__content">
                <p>Hey Betuu ✨</p>
                <p>Here again something insane, I made for you, I hope you like it.
                    So I guess there comes a time, when you meet somebody, and afterward everything done is for them.
                    It's hard to put into words what you mean to me, yet you are my favorite human being. 
                    You are the best thing that has happened to me, and I am so blessed to call you mine, and and I love the journey which has started for, forever.
                </p>
            </div>
            <div class="letter__content"></div>
            <div class="letter__content">
                <p>
                    I apologize for all the trouble I cause you.
                    Thank you for being everything I ever wanted.
                    I love you, and I miss you like anything...
                    Here again a crazy thing, I made for you, I hope you like it. 
                    So I guess there comes a time when you meet someone, and then everything done is for them.
                </p>
                <p>Love always</p>
                <span class="sign-off">Chandni</span>
            </div>
        </div>
    </div>
    <div class="envelope__back"></div>
</div>