/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Dekko';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/dekko-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../src/assets/fonts/dekko-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../src/assets/fonts/dekko-v9-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../src/assets/fonts/dekko-v9-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../src/assets/fonts/dekko-v9-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../src/assets/fonts/dekko-v9-latin-regular.svg#Dekko') format('svg');
  /* Legacy iOS */
}

body,
html {
  color: white;
  background: #1e2021;
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: #a0daba;
  background-size: cover;
  background-position: bottom center;
}

.stats {
  position: absolute;
  left: 10px;
  top: 0;
}

#app canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: color-dodge;
}

.dg.ac {
  z-index: 2 !important;
}

.link {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .scroll-horizontal-container {
      display: flex;
      width: 100vw;
      height: 90vh;
      overflow-x: scroll;
    }
  }
}

.scroll-horizontal-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
}

.scroll-horizontal-container::-webkit-scrollbar {
  display: none;
}

.screen {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  display: none;
}

#section1 {
  border: 5px solid #111;
  border-radius: 15px;
  margin: 0px;
}

audio {
  z-index: 10;
  display: block;
  position: absolute;
  top: 90%;
  left: 10px;
  width: 200px;
  height: 35px;
  /* background-color: #fffe8e; */
}

/* audio::-webkit-media-controls-mute-button {
  display: none !important;
} */

/* audio::-webkit-media-controls-volume-slider {
  display: none !important;
} */


/* Removes the timeline */
/* audio::-webkit-media-controls-timeline {
  display: none !important;
} */

/* Removes the time stamp */
/* audio::-webkit-media-controls-current-time-display {
  display: none;
} */
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

@media only screen and (min-width: 746px) {
  .scroll-horizontal-container {
    height: 100vh;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
